@import "tailwindcss";

:root {
  /* Colors */
  --primary: 0, 0, 0;
  --secondary: 0, 188, 251;
  --gray: 21, 21, 21;

  /* Spacing */
  --sidePadding: 20px;
  --menuHeight: 60px;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-gray: rgb(var(--gray));

  --spacing-sidePadding: var(--sidePadding);
  --spacing-menuHeight: var(--menuHeight);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--primary));
}

/* For the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgb(var(--secogit branch -M mainndary));
  border-radius: 2px;
}
